<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 引入 Spring Boot 默认配置 -->
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- 设置默认日志级别-->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- 指定文件日志级别 -->
    <logger name="org.springframework.ai.chat.client.advisor" level="DEBUG"/>

</configuration>